After knitting and rendering `{{{name}}}.Rmd`, overwrite this file with a symlink to `{{{name}}}.md`.

E.g., on Linux/macOS from terminal:

```bash
cd {{{path}}}/{{{name}}}
rm README.md && ln -s {{{name}}}.md README.md
```
