on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      USING_COVR: true

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: PredictiveEcology/actions/install-spatial-deps@v0.2

      - uses: r-lib/actions/setup-r@v2
        with:
          Ncpus: 2
          use-public-rspm: false

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            NLMR=?ignore

      - name: Install additional package dependencies
        run: |
          pak::pkg_install("ropensci/NLMR")
        shell: Rscript {0}

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}

